<mat-card class="mat-elevation-z8">
    <mat-card-title>Formulário de cadastro</mat-card-title>
    
    <mat-card-subtitle>Dados pessoais</mat-card-subtitle>
        <form  class="example-form"> 

            <mat-form-field class="example-full-width" appearance="fill" >
                    <mat-label >Nome Completo</mat-label>
                    <input  matInput placeholder="Ex. Seu nome completo" class="input" 
                     required [(ngModel)]="funcionario.nome"  name="nome">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Data de Nascimento</mat-label>
                <input matInput placeholder="Ex. xx/xx/xxxx" 
                required [(ngModel)]="funcionario.dataNascimento" name="dataNascimento">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Idade</mat-label>
                <input matInput placeholder="Ex. 30 anos" 
                required [(ngModel)]="funcionario.idade" name="dataNascimento">
            </mat-form-field>
            <mat-form-field class=" example-full-width" appearance="fill">
                <mat-label>Nacionalidade</mat-label>
                <input matInput placeholder="Ex. Onde nasceu" required
                [(ngModel)]="funcionario.nacionalidade" name="nacionalidade">
            </mat-form-field>
            <mat-form-field class=" example-full-width" appearance="fill">
                <mat-label>CPF</mat-label>
                <input matInput placeholder="Ex. 000.000.000-00" required
                [(ngModel)]="funcionario.cpf" name="cpf">
            </mat-form-field>
            <mat-form-field class=" example-full-width" appearance="fill">
                <mat-label>RG</mat-label>
                <input matInput placeholder="Ex. 0.000.000" required
                [(ngModel)]="funcionario.rg" name="rg">
            </mat-form-field>
            <mat-form-field class=" example-full-width" appearance="fill">
                <mat-label>Orgão Expedidor</mat-label>
                <input matInput placeholder="Ex. orgão-estado" required 
                [(ngModel)]="funcionario.orgaoExpedidor" name="orgaoExpedidor">
            </mat-form-field>
            <mat-form-field class=" example-full-width" appearance="fill">
                <mat-label>Data de expedição</mat-label>
                <input matInput placeholder="Ex. 01/01/1123" required
                [(ngModel)]="funcionario.dataExpedicao" name="dataExpedicao">
            </mat-form-field>
            <mat-form-field class=" example-full-width" appearance="fill">
                <mat-label>UF</mat-label>
                <input matInput placeholder="Ex. estado" required
                [(ngModel)]="funcionario.uf" name="uf">
            </mat-form-field>           
            <mat-form-field class=" example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="Ex. email@email.com" required
                [(ngModel)]="funcionario.email" name="email">
            </mat-form-field>
            <mat-form-field class=" example-full-width" appearance="fill">
                <mat-label>Telefone</mat-label>
                <input matInput placeholder="Ex. (DDD) 9 0000-0000" required
                [(ngModel)]="funcionario.telefone" name="telefoneResponsavel">
            </mat-form-field>
            <mat-form-field class=" example-full-width" appearance="fill">
                <mat-label>Telefone 2</mat-label>
                <input matInput placeholder="Ex. (DDD) 9 0000-0000" 
                [(ngModel)]="funcionario.telefone2" name="telefoneResponsavel2">
            </mat-form-field>
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Tipo Sanguineo</mat-label>
                    <select matNativeControl required 
                    [(ngModel)]="funcionario.tipoSanguineo" name="tipoSanguineo">
                        <option disabled selected label="Selecione uma opção"></option>
                        <option value="A +">( A + )</option>
                        <option value="A -">( A - )</option>
                        <option value="B +">( B + )</option>
                        <option value="B -">( B - )</option>
                        <option value="O +">( O + )</option>
                        <option value="O -">( O - )</option>
                        <option value="AB +">( AB + )</option>
                        <option value="AB -">( AB - )</option>
                    </select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Sexo</mat-label>
                    <select matNativeControl required
                    [(ngModel)]="funcionario.sexo" name="sexo">
                        <option disabled selected label="Selecione uma opção"></option>
                        <option value="Masculino">Masculino</option>
                        <option value="Feminino">Feminino</option>
                    </select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Estado Civil</mat-label>
                    <select matNativeControl required
                    [(ngModel)]="funcionario.estadoCivil" name="estadoCivil">
                        <option disabled selected label="Selecione uma opção"></option>
                        <option value="Solteiro(a)">Solteiro(a)</option>
                        <option value="Casado(a)">Casado(a)</option>
                        <option value="uniaoestavel">Uniao estavel</option>
                        <option value="Divorciado(a)">Divorciado(a)</option>
                    </select>
            </mat-form-field>
            <mat-form-field class="form-endereco-item" appearance="fill">
                <mat-label>Formação</mat-label>
                <input matInput placeholder="Ex. Pós graduado em direito do trabalho" class="input" required
                [(ngModel)]="funcionario.formacao" name="logradouro">
            </mat-form-field>
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Cargo</mat-label>
                    <select matNativeControl required
                    [(ngModel)]="funcionario.cargo" name="estadoCivil">
                        <option disabled selected label="Selecione uma opção"></option>
                        <option value="Diretor(a)">Diretor(a)</option>
                        <option value="Administrador">Administrador</option>
                        <option value="Coodenador(a)">Coodenador(a)</option>
                        <option value="Supervisor">Supervisor</option>
                        <option value="Professor(a)">Professor(a)</option>
                        <option value="Auxiliar">Auxiliar</option>
                    </select>
            </mat-form-field>
        </form>

    <mat-card-subtitle>Dados de endereço</mat-card-subtitle>
        <form  class="form-endereco">
            <mat-form-field class="form-endereco-item" appearance="fill">
                <mat-label>CEP</mat-label>
                <input matInput placeholder="Ex. 00.000-00" class="input" required
                [(ngModel)]="funcionario.cep" name="cep">
            </mat-form-field>
            <mat-form-field class="form-endereco-item" appearance="fill">
                <mat-label>Logradouro</mat-label>
                <input matInput placeholder="Ex. endereço completo" class="input" required
                [(ngModel)]="funcionario.logradouro" name="logradouro">
            </mat-form-field>
            <mat-form-field class="form-endereco-item" appearance="fill">
                <mat-label>Número</mat-label>
                <input matInput placeholder="Ex. nº" class="input" required
                [(ngModel)]="funcionario.numero" name="numero">
            </mat-form-field>
            <mat-form-field class="form-endereco-item" appearance="fill">
                <mat-label>Complemento</mat-label>
                <input matInput placeholder="Ex. Casa, apartamento" class="input"
                [(ngModel)]="funcionario.complemento" name="complemento">
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-endereco-item">
                <mat-label>Bairro</mat-label>
                    <select matNativeControl required
                    [(ngModel)]="funcionario.bairro" name="bairro">
                        <option disabled selected label="Selecione uma opção"></option>
                        <option value="Sobradinho">Sobradinho</option>
                        <option value="Planaltina">Planaltina</option>
                        <option value="Asa Norte">Asa Norte</option>
                    </select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-endereco-item">
                <mat-label>Estado</mat-label>
                    <select matNativeControl required
                    [(ngModel)]="funcionario.estado" name="estado">
                        <option disabled selected label="Selecione uma opção"></option>
                        <option value="DF">DF</option>
                        <option value="GO">GO</option>
                        <option value="TO">TO</option>
                    </select>
            </mat-form-field>
        </form>
        <app-buttom [nome]="salvar" [background]="backgroundSalvar" (click)="save()"></app-buttom>
        <app-buttom [nome]="cancelar" [background]="backgroundCancelar" (click)="cancel()"></app-buttom>
</mat-card>

