.card {
    max-width: 300px;
    max-height: 300px;
    
    text-align: center;
    background-color: #1a800d6e;
    background-size: cover;
}

.title {
    display: flex;
    justify-content: center;
}

.img {
    max-width: 95%;
    height: 160px;
    background-size: cover;
    border-radius: 5px;
    
}



