.card {
    max-width: 300px;
    min-width: 300px;
    text-align: center;
    background-color: #e6e6df;
}

.title {
    display: flex;
    justify-content: center;
}

.img {
    max-width: 95%;
    background-size: cover;
}



