.card {
    max-width: 300px;
    min-width: 300px;
    text-align: center;
    background-color: #e6e6df;
    background-size: cover;
}

.title {
    display: flex;
    justify-content: center;
}

.img {
    max-width: 250px;
    min-width: 250px;
    background-size: cover;
    border-radius: 5px;

}



