.toolbar {
    background-color: var(--background-header-component);
    margin-bottom: 10px;
    
    justify-content: center;
    
}

.title {
    color: aliceblue;
    text-align: center;
    text-transform: uppercase;
}