<app-mat-cart-rav-relatorios></app-mat-cart-rav-relatorios>

<mat-card class="">
    <mat-card-title class="title">Novo Aluno</mat-card-title>

    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="aluno.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Turma" [(ngModel)]="aluno.turma" name="turma" maxlength="3">
        </mat-form-field>
    </form>

    <button class="buttom btn btn-primary" (click)="createAluno()">Salvar</button>
    <app-botao-cancelar (click)="cancel()"></app-botao-cancelar>
    
</mat-card>


