.header {
    display: flex;
    align-items: center;
    background-color: #343a40
    
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f0f8ff;
}

.header .logo {
    max-height: 64px;
}


.title-group{
    padding-left: 25px;
}

i {
    padding-right: 10px;
    color: #f0f8ff;
}