button {
    background-color: var(--background-botao-adicionar);
    color: #fff;
    margin: 10px 10px 10px 0;
    border: none;
}

button:hover {
    color: #fff;
    background-color: var(--hover-botao-adicionar);
}
