button {
    background-color: var(--background-botao-adicionar);
    color: #fff;
    margin-right: 10px;
    border: none;
}

button:hover {
    color: #fff;
    background-color: var(--hover-botao-adicionar);
}