
<div class="logo">
    <img src="assets/img/logo.png" routerLink="" alt="Logo">
</div>

    <div class="bem-vindo">
        <h2>Bem-vindo</h2>
        <p>
            Bem-vindo ao BS Escolar, o sistema que facilita as atividas escolares inovando e trazendo soluções.
        </p>
    </div>


    <form class="form">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Ex. usuario@email.com">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input type="password" matInput placeholder="Digite sua senha">
        </mat-form-field>
        <button mat-raised-button>Login</button>
        <p>Cadastrar</p>
    </form>

    <footer>
        Desenvolvido por BS Escolar
    </footer>
