.card {
    display: flex;
    flex-direction: row;
}

.img{
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    border: 1px solid #c7c4c4;
    margin-right: 64px;
}

.input {
    margin-right: 16px;
    
}

.filiacao-title, .residencia-title{
    margin-bottom: 24px;
}

.residencia-info {
    display: flex;
    justify-content: space-around;
    
}