<mat-card class="card">
        <img class="img" src="\assets\img\perfil.png" alt="">

        <div class="card-input">
                <mat-form-field class=" input example-form-field" appearance="fill">
                    <mat-label>Matrícula</mat-label>
                    <input matInput type="text" >
                </mat-form-field>
    
                <mat-form-field class=" input example-form-field" appearance="fill">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" [(ngModel)]="aluno.nome"  name="nome">
                </mat-form-field>
    
                <mat-form-field class=" input example-form-field" appearance="fill">
                    <mat-label>Sexo</mat-label>
                    <input matInput type="text">
                </mat-form-field>
    
                <mat-form-field class=" input example-form-field" appearance="fill">
                    <mat-label>Estado Civil</mat-label>
                    <input matInput type="text">
                </mat-form-field>
    
                <mat-form-field class=" input example-form-field" appearance="fill">
                    <mat-label>Data de Nascimento</mat-label>
                    <input matInput type="text" [(ngModel)]="aluno.dataNascimento"  name="dataNascimento">
                </mat-form-field>

                <mat-form-field class=" input example-form-field" appearance="fill">
                    <mat-label>Local de Nascimento</mat-label>
                    <input matInput type="text">
                </mat-form-field>

                <mat-form-field class=" input example-form-field" appearance="fill">
                    <mat-label>Idade</mat-label>
                    <input matInput type="text">
                </mat-form-field>

                <mat-form-field class=" input example-form-field" appearance="fill">
                    <mat-label>Nacionalidade</mat-label>
                    <input matInput type="text">
                </mat-form-field>

                <mat-form-field class=" input example-form-field" appearance="fill">
                    <mat-label>Necessidades Especiais</mat-label>
                    <input matInput type="text">
                </mat-form-field>

                <mat-form-field class=" input example-form-field" appearance="fill">
                    <mat-label>CPF</mat-label>
                    <input matInput type="text">
                </mat-form-field>

                <mat-form-field class=" input example-form-field" appearance="fill">
                    <mat-label>RG</mat-label>
                    <input matInput type="text">
                </mat-form-field>

                <mat-form-field class=" input example-form-field" appearance="fill">
                    <mat-label>Orgão Experdidor</mat-label>
                    <input matInput type="text">
                </mat-form-field>

                <mat-form-field class=" input example-form-field" appearance="fill">
                    <mat-label>Data de Expedição</mat-label>
                    <input matInput type="text">
                </mat-form-field>

                <mat-form-field class=" input example-form-field" appearance="fill">
                    <mat-label>UF</mat-label>
                    <input matInput type="text">
                </mat-form-field>
        </div> 

</mat-card>

        <mat-card>
                <mat-card-title class="filiacao-title">Filiação</mat-card-title>

                <div class="filiacao">
                    <div class="filiacao-item">
                        <mat-card-subtitle>Nome da Mãe</mat-card-subtitle>
                        <mat-card-content>Maria da Silva Pereira</mat-card-content>
                    </div>
                    
                    <div class="filiacao-item">
                        <mat-card-subtitle>Nome do Pai</mat-card-subtitle>
                        <mat-card-content>João Gomes Silva Pereira</mat-card-content>
                    </div>
                </div>
                
                
        </mat-card>

        <mat-card>
                <mat-card-title class="residencia-title">Residência</mat-card-title>
                <div class="residencia-info">
                    <div>
                        <mat-card-subtitle>Logradouro</mat-card-subtitle>
                        <mat-card-content>Condominio residencial maravilha</mat-card-content>
                    </div>
                    <div>
                        <mat-card-subtitle>Número</mat-card-subtitle>
                        <mat-card-content>18</mat-card-content>
                    </div>
                    <div>
                        <mat-card-subtitle>Complemento</mat-card-subtitle>
                        <mat-card-content>casa</mat-card-content>
                    </div>
                    <div>
                        <mat-card-subtitle>Bairro</mat-card-subtitle>
                        <mat-card-content>Das laranjas</mat-card-content>
                    </div>
                    <div>
                        <mat-card-subtitle>Estado</mat-card-subtitle>
                        <mat-card-content>DF</mat-card-content>
                    </div>
                    <div>
                        <mat-card-subtitle>CEP</mat-card-subtitle>
                        <mat-card-content>12-345-67</mat-card-content>
                    </div>
                    
                    
                    
                    
                </div>
        </mat-card>
