<app-card-diario-title></app-card-diario-title>

<div class="container ">
    <button class="bottom" mat-flat-button color="accent" 
            mat-button [matMenuTriggerFor]="belowMenu">
            Turma
    </button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item routerLink="/turma-1A">Turma 1A</button>
        <button mat-menu-item routerLink="/turma-1B">Turma 1B</button>
    </mat-menu>

    <button class="bottom"  mat-flat-button color="accent" 
            mat-button [matMenuTriggerFor]="belowMenu">
            Anotações
    </button>
    
</div>










<mat-menu>
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>