table {
    width: 100%;
  }

  .title {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}

.edit {
  margin-right: 15px;
}

.edit > i {
  color: #d9cd26;
}

.delete > i {
  color: #e35e6b;
}

