<div class="container" >
    <h2>Rav - Relatórios</h2>
    <p>Sistema de relatórios para ver o desenvolvimento dos alunos.</p>
</div>

<div class="container">
        <nav class="navbar navbar-expand-lg  ">
                <div class="nav-item">
                    <a class="nav-link">Alunos</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" (click)="navegateCreateAluno()">Adicionar Aluno</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link">Relatório Aluno</a>
                </div>
        </nav>
</div>
