<div class="display">
        <div class="card">
            <a >
                <div class="card-body">
                    <mat-card-title class="">
                        <i class="material-icons icone">person_add</i>
                    </mat-card-title>
                    
                    <p>Cadastrar</p>
                </div>
            </a>        
        </div>
        <div class="card">
            <a routerLink="" >
                <div class="card-body">
                    <mat-card-title class="">
                        <i class="material-icons icone">print</i>
                    </mat-card-title>
                    
                    <p>Imprimir</p>
                </div>
            </a>        
        </div>
        <div class="card">
            <a routerLink="" >
                <div class="card-body">
                    <mat-card-title class="">
                        <i class="material-icons icone">description</i>
                    </mat-card-title>
                    <p>PDF</p>
                </div>
            </a>        
        </div>
</div>
