.card {
    border: 1px solid #bebbbb;
    background-color: #f0f8ff;
    box-shadow: 2px 2px 10px 5px #00000033;
    box-sizing: border-box;
    
    min-width: 125px;
    max-width: 10%;
    min-height: 125px;
    max-height: 10%;
    
    margin-left: 16px;
    margin-bottom: 16px;

    transition: .8s;
  }
.card:hover {
    background-color: #cadbeb;
} 

a {
    text-decoration: none;
    color: #425257;
}

.card-body {
    text-align: center;
    width: 100%;
}

.icone {
    font-size: 40px;
    color: #425257;
}