<div class="container">
    <div class="body">
        <app-card-menu 
            routerLink="/matricula/create" [nome]="matricula" [img]="imgMatricula" [link]="linkMatricula">
        </app-card-menu>
        <app-card-menu 
            routerLink="alunos" [nome]="alunos" [img]="imgAlunos" [link]="linkAlunos">
        </app-card-menu>
        <app-card-menu 
            routerLink="turmas" [nome]="turmas" [img]="imgTurmas" [link]="linkTurmas">
        </app-card-menu>
        
        <app-card-menu 
            routerLink="periodo" [nome]="periodo" [img]="imgPeriodo" [link]="linkPeriodo">
        </app-card-menu>
    </div>
</div>
