:root {

/* BACKGROUND NAV */
--background-nav: #425257;

/* BACKGROUND HEADER COMPONENTES */

--background-header-component: #4f6066;

/* BOTÕES */
--background-botao-adicionar: #00796B;
--hover-botao-adicionar: #035f54;

--background-botao-buscar: #0d78cf;
--hover-botao-buscar: #0b66b1;

--background-botao-salvar: #0d78cf;
--hover-botao-salvar: #0b66b1;

--background-botao-limpar: #ec3f56;
--hover-botao-limpar: #d6394e;

--background-botao-cancelar: #c75455;
--hover-botao-cancelar: #ec8582;

/* ICONES */
--icone-edit: #d9cd26;
--icone-delete: #e35e6b;
--icone-visualizar: #5250BF;

/* RAV menu lista */
--rav-menu-lista:  #cbdce3;
--hover-menu-lista: #bad0da;
--texto: #343a40;
}
