:root {

/* BACKGROUND NAV */
--background-nav: #425257;

/* BACKGROUND HEADER COMPONENTES */

--background-header-component: #4E5E6E;

/* BOTÕES */
--background-botao-adicionar: #00796B;
--hover-botao-adicionar: #035f54;

--background-botao-cancelar: #c75455;
--hover-botao-cancelar: #ec8582;

/* ICONES */
--icone-edit: #d9cd26;
--icone-delete: #e35e6b;

/* RAV menu lista */
--rav-menu-lista:  #cbdce3;
--hover-menu-lista: #bad0da;
--texto: #343a40;
}
