<table mat-table [dataSource]="alunos" matSort 
      class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">
      No.
    </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      Nome
    </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  
  <ng-container matColumnDef="turma">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by turma">
      Turma
    </th>
    <td mat-cell *matCellDef="let element"> {{element.turma}} </td>
  </ng-container>

  <ng-container matColumnDef="acao">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by acao">
      Ações
    </th>
    <td mat-cell *matCellDef="let element">
      <app-icone-visualizar></app-icone-visualizar> 
      <icone-edit></icone-edit> 
      <icone-delete></icone-delete>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


