.footer {
    position: fixed;
    bottom: 0;
    
    width: 100%;
    
    display: flex;
    justify-content: flex-end;
}

.footer span {
    margin-right: 30px;
    font-weight: 300;
}

.icone {
    margin-left: 3px;
    vertical-align: middle;
}