<mat-sidenav-container class="">
      <mat-sidenav  class="sidenav" 
                    mode="side" 
                    fixedInViewport="true" 
                    opened fixedTopGap="64" 
      >
                    
                <mat-nav-list class="nav-list">
                      <a routerLink="" mat-list-item route>
                        <i class="material-icons">home</i>
                        Home
                      </a>
                      <a routerLink="secretaria" mat-list-item>
                        <i class="material-icons">business_center</i>
                        Secretaria
                      </a>
                      <a routerLink="" mat-list-item>
                        <i class="material-icons">nature_people</i>
                        Recursos Humanos
                      </a>
                      
                      <a routerLink="calendario-escolar" mat-list-item>
                        <i class="material-icons">calendar_today</i>
                        Calendário Escolar
                      </a>
                      <a routerLink="regimento-escolar" mat-list-item>
                        <i class="material-icons">insert_drive_file</i>
                        Regimento Escolar
                      </a>
                      <a routerLink="" mat-list-item>
                        <i class="material-icons">file_copy</i>
                        Rav - Relatórios
                      </a>
                      <a routerLink="" mat-list-item>
                        <i class="material-icons">settings_power</i>
                        Logout
                      </a>
                </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        
          <router-outlet></router-outlet>
          
      </mat-sidenav-content>
      
</mat-sidenav-container>
