<mat-sidenav-container class="">
      <mat-sidenav  class="sidenav" 
                    mode="side" 
                    fixedInViewport="true" 
                    opened fixedTopGap="64" 
                    
                    >
                <mat-nav-list class="nav-list">
                      <a routerLink="" mat-list-item route>
                        <i class="material-icons">home</i>
                        Home
                      </a>
                      <a routerLink="" mat-list-item>
                        <i class="material-icons">home</i>
                        Turma
                      </a>
                      <a routerLink="" mat-list-item>
                        <i class="material-icons">home</i>
                        Calendário Escolar
                      </a>
                      <a routerLink="" mat-list-item>
                        <i class="material-icons">home</i>
                        Regimento Escolar
                      </a>
                      <a routerLink="/rav" mat-list-item>
                        <i class="material-icons">home</i>
                        Rav - Relatórios
                      </a>
                      <a routerLink="" mat-list-item>
                        <i class="material-icons">home</i>
                        Logout
                      </a>
                </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        

          <router-outlet></router-outlet>
          
      </mat-sidenav-content>
</mat-sidenav-container>
