.sidenav {
    background-color: var(--background-nav);
    width: 250px;
}

.sidenav a {
    color: #f0f8ff;
    padding-left: 32px;
    cursor: pointer;
}

.sidenav i {
    padding-right: 10px;
}

.logo {
    max-height: 64px;
}

mat-drawer-container{
    
    height: 85%;
}
